<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>To-Do List</title>
    </head>

    <body>
        
        <main id="app">
            
            <section class="todo-list" @keyup.enter="adicionarTarefa()">
                
                
                <h3>Lista de Tarefas</h3>
                
                <div class="all-todos" v-for="tarefa in tarefas">
                    <div class="single-todo" 
                    @click="tarefa.feito = !tarefa.feito; storeTarefas()"
                    :class="{done: tarefa.feito}"
                >
                        <p>{{tarefa.nome}}</p>
                    </div>

                </div>

                <button class="clear" @click="limparTudo(); storeTarefas()">Limpar tudo</button>

                <input type="text" placeholder="Escreva uma nova tarefa..." v-model="novaTarefa.nome">
                <button class="add" @click="adicionarTarefa(); storeTarefas()" >Adicionar</button>

                <div class="instructions">
                    Instruções:
                    <ul>
                        <li>Clique no texto da tarefa para alternar entre feita / não feita</li>
                        <li>Use o botão limpar tudo para remover todas as tarefas</li>
                        <li>Use o adicionar para adicionar novas tarefas</li>
                    </ul>
                </div>
            </section>

        </main>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="scripts.js"></script>
    </body>

</html>